.wrapper {
  width: 100%;
  background: url("../../assets/backgrounds/pexels-arnie-chou-304906-1001430.jpg")
    no-repeat center center fixed;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
    pointer-events: none;
  }
}
